<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1 align="center">Welcome!</h1>
        <h4 align="center">Hello, this greeting page!</h4>
        <p align="center">test page! test page! test page! test page! test page!</p>
        <br>
        <h6 align="center"><a href="{% url 'game' %}">>Game list<</a></h6>
    </div>
</body>
</html>