body {
    background: #2c5545 ;
    width: 100%;
}

.content {
    margin: 0 11%;
    color:snow;
    padding-top: 1em;
}

a {
    text-decoration: none;
    color: snow;
}

a:hover {
    text-decoration: none;
    color: #f5f5dc;
}